# Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- List popular languages for Data Science.
- List Commonly used libraries for Data Science.
- Evaluate arithmetic expression.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow
4. Spark

| Data Science Tools |
| ------------------ |
| Jupyter |
| RStudio |
| Jupyter Lab |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
This is s simple arithmetic expresion to multiply then add integers.

(3*4)+5

SyntaxError: invalid syntax (3037377275.py, line 1)

In [2]:
This is a simple arithmetic expresion to multiply then add integers.

(3*4)+5

SyntaxError: invalid syntax (1669190399.py, line 1)

In [4]:
# This a simple arithmetic expresion to multiply then add integers.

(3*4)+5

17

In [5]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [6]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60.

(200/60)

3.3333333333333335

## Author
Marija Comarla